* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(104, 186, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    border-radius: 10px;
    width: 50vw;
    height: 45vh;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading {
    text-align: center;
    font-size: 2vw;
    
}

.btn {
    background: linear-gradient(to left, #6a11cb, #2575fc);
    color: white;
    padding: 0.8vw 2vw;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2vw;
    transition: transform 0.3s ease;
    margin: 0 auto;
    width: fit-content;
}

.btn:hover {
    transform: scale(1.1);
}

.color {
    height: 13vh;
    background-color: aqua;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.colorid {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 1vw;
    font-size: 1vw;
}

.palette {
    flex: 1;
    margin: 0 0.5vw;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 8vw;
    max-width: 8vw;
}

.palette:nth-child(1) .color {
    background-color: #FF6B6B;
}

.palette:nth-child(2) .color {
    background-color: #FFD93D;
}

.palette:nth-child(3) .color {
    background-color: #6BCB77;
}

.palette:nth-child(4) .color {
    background-color: #4D96FF;
}

.palette:nth-child(5) .color {
    background-color: #843B62;
}

.colorcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
